@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


html {
  font-size: 68.5%;
  box-sizing: border-box;
}

 * {
   box-sizing: border-box;
 }

body, #root {
  margin: 0;
  background-color: #d4cccb;
}

body, button {
  font-size: 1em;
  font-family: Arial, Montserat, sans-serif;
}