
:root {
    --ease: all 0.5s ease-out;
    --primary-color: #444;
    --secondary-color: #55abf1;
    --sec-color: #f1d455;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.home {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 222px;
  margin-bottom: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
}

.home > div {
  background: whitesmoke;
}

.home img {
  max-height: 10vh;
  max-width: 10em;
  width: 10em;
  position: relative;
  margin: 0 auto;
}

.show {
  position: relative;
  text-align: center;
}

.child-city {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
}

.button {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #444;
}

.btn-primary {
  background-color: #75261c;
  border-color: #75261c;
}

.btn-container {
  position: relative;
  display: flex;
  top: -56px;
  width: 30%;
}

.btn-container button {
  font-size: 1em;
  border: 3px #fff solid;
  padding: 1em 2.5em;
  margin-bottom: 3rem;
  transition: var(--ease);
  position: relative;
  top: 0px;
  cursor: pointer;
}

.btn-container button:hover {
    padding: 0.4rem 0.9rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
}

.primary {
  z-index: 10;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}

.secondary {
  color: #fff !important;
  z-index: 2;
  position: relative;
  margin-bottom: 20px;
  background-color: #444;
}

.linkx {
  text-decoration: none;
  font-size: 1em;
  border: 3px #444 solid;
  color: #333;
  padding: 0.2em 0.8em;
  margin-bottom: 3rem;
  transition: var(--ease);
  position: relative;
  left: 0em;
  top: 18px;
}

.linkx:hover {
  padding: 0.5rem 1rem;
  background-color: var(--sec-color);
  color: var(--primary-color);
  text-decoration: none;
}

/* modal*/

.react-reveal {
  position: relative;
  margin-bottom: 15px;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100%;
  background-color: #d4cccb;
}

.modal-body img {
  max-height: 10vh;
  max-width: 10em;
  width: 10em;
  position: relative;
  margin: 0 auto;
}

.modal-body {
  flex: 1 1;
  margin: 1em;
  position: relative;
  top: 50px;
}

.close-modal {
  position: absolute;
  right: 1em;
  top: 2.5em;
  cursor: pointer;
  background: #bd2525;
  border: none;
  color: #fff;
  z-index: 1000;
}

.ReactModalPortal {
  position: relative;
  z-index: 1000;
  opacity: 1;
  overflow-y: scroll;
  height: 100%;
  text-align: center;
}

.ReactModal__Overlay {
  opacity: 0.95;
  overflow-y: scroll;
  z-index: 1000;
  background: #ffffff !important;
}

.ReactModal__Overlay h1 {
  text-align: center;
  position: relative;
  top: 20px;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  .home {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 222px;
    margin-bottom: 320px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .btn-container {
    width: 86%;
  }

  .btn-container button {
    height: 40px;
  }

  .home img {
    max-height: 8vh;
    max-width: 8em;
    width: 8em;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-width: 551px) and (max-width: 667px) {
  .home {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 222px;
    margin-bottom: 320px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .btn-container {
    width: 60%;
  }

  .btn-container button {
    height: 40px;
  }

  .home img {
    max-height: 8vh;
    max-width: 8em;
    width: 8em;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-width: 668px) and (max-width: 949px) {
  .home {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 222px;
    margin-bottom: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .btn-container {
    width: 48%;
  }

  .btn-container button {
    height: 40px;
  }

  .home img {
    max-height: 8vh;
    max-width: 8em;
    width: 8em;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-width: 950px) and (max-width: 1290px) {
  .home {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 222px;
    margin-bottom: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .btn-container {
    width: 40%;
  }

  .btn-container button {
    height: 40px;
  }

  .home img {
    max-height: 10vh;
    max-width: 10em;
    width: 10em;
    position: relative;
    margin: 0 auto;
  }
}
